# The file .brackets.json is included in the repo
# because these are the editor settings we used
# in this project. If you're also working with
# Adobe Brackets, this will probably help you to
# look around the code and make some changes.

~*
