# Linguist custom overrides
# External Javascript libraries
stalks/leaves/emojify.js/* linguist-vendored
stalks/leaves/jscolor/* linguist-vendored
stalks/leaves/medium-editor/* linguist-vendored

# Automated tools
tools/* linguist-vendored
