<!DOCTYPE html>
<html>
  <head>
    <title>Fibretis</title>
    {{template "_html_head.html"}}
  </head>
  <body>
    {{template "_topbar.html" .aid}}
    {{with (project .post.ProjectID)}}
    <div class='banner project-banner' style='background-image: url(/uploads/banner_img/{{.BannerImg}}'>
      <p class='big-title'>{{.Title}}</p>
      <p class='grey'>Created by {{(account .Author).Name}} at {{timestr .CreatedAt}}</p>
      <p class='desc'>{{.Desc}}</p>
    </div>
    {{end}}
    <hr>
    {{with .post}}
    <div class='post_area'>
      <h1>{{.Title}}</h1>
      <p class='grey'>Posted by {{(account .Author).Name}} at {{timestr .CreatedAt}}</p>
      <div class='post_body'>
        {{raw .Body}}
      </div>
    </div>
    {{end}}
  </body>
</html>
