<!DOCTYPE html>
<html>
  <head>
    <title>Fibretis</title>
    {{template "_html_head.html"}}
  </head>
  <body>
    {{template "_topbar.html" .aid}}
    {{template "_project_banner.html" .prj}}
    <hr>
    <a class='am-btn am-btn-warning' href='/project_edit/{{.prj.ID}}'><span class='am-icon-pencil'></span>&nbsp;Edit info</a>
    <a class='am-btn am-btn-success' href='/post_create/{{.prj.ID}}'><span class='am-icon-paint-brush'></span>&nbsp;New post</a>
    <div class='postlist_area'>
    {{range .pstpage}}
      <h1><a href='/post/{{.ID}}'>{{.Title}}</a></h1>
      <p class='grey'>Posted by {{(account .Author).Name}} at {{timestr .CreatedAt}}</p>
      <p>{{nutshell .Body}}</p>
      <hr>
    {{end}}
    </div>
    {{template "_emojify.html"}}
  </body>
</html>
