<!DOCTYPE html>
<html>
  <head>
    <title>Projects - Fibretis</title>
    {{template "_html_head.html"}}
  </head>
  <body>
    {{template "_topbar.html" .aid}}
    <p class='big-title'>Projects</p>
    <div class='simple-padding'>
      <a href='/project_create' class='am-btn am-btn-secondary'><span class='am-icon-plus'>&nbsp;New Project</span></a>
    </div>
    <br><br>
    {{range .prjpage}}
      <div class='project-summary'>
        <div class='bg' style='{{if ne .BannerImg ""}}background-image: url(/uploads/banner_img/{{.BannerImg}}){{end}}'></div>
        <p class='small-title'><a href='/project/{{.ID}}'>{{.Title}}</a></p>
        <span class='grey'>Created by {{(account .Author).Name}} at {{timestr .CreatedAt}}</span>
        <br>
        <span>{{.Desc}}</span>
      </div>
    {{end}}
    <!-- Use scripts to move backgrounds to correct positions -->
    <script type='application/javascript' src='/leaves/bg.js'></script>
    <script type='application/javascript'>
      projectlist_initbg();
    </script>
    {{template "_emojify.html"}}
  </body>
</html>
