<div class='banner {{bannerclass .BannerType}} project-banner' style='{{if ne .BannerImg ""}}background-image: url(/uploads/banner_img/{{.BannerImg}}){{end}}'>
  <div id='title'>
    <span class='big-title' style='{{if ne .TitleColour ""}}color: {{.TitleColour}}{{end}}'>{{.Title}}</span>&nbsp;
    {{statebadge .State}}
  </div>
  <p class='grey'>Created by {{accountName .Author}} at {{timestr .CreatedAt}}</p>
  <p class='desc' style='{{if ne .TitleColour ""}}color: {{.TitleColour}}{{end}}'>{{.Desc}}</p>
</div>
