<!DOCTYPE html>
<!-- This page needs a lot of improvements, like styles, modal dialogues, etc. -->
<html>
  <head>
    <title>Invite - Fibretis</title>
    {{template "_html_head.html"}}
  </head>
  <body>
    {{template "_topbar.html" .aid}}
    {{template "_project_banner.html" .prj}}
    <hr>
    <p class='small-title'>Invite someone to join your team...</p>
    {{/* TOOD: Enable searching for accounts */}}
    {{/* TODO: Display a modal dialogue for confirmation */}}
    <div class='am-g'>
      <div class='am-u-sm-1 am-u-md-2'>&nbsp;</div>
      <div class='am-u-sm-10 am-u-md-8 am-input-group'>
        <span class='am-input-group-label am-icon-search am-radius'></span>
        <input id='search_ipt_name' type='text' class='am-form-field am-radius' placeholder='Name'>
      </div>
      <div class='am-u-sm-1 am-u-md-2'>&nbsp;</div>
    </div>
    <div id='search_results'>
    </div>
    <script src='/leaves/account-search.js'></script>
    <script>invite_search_init({{.prj.ID}});</script>
  </body>
</html>
