<!DOCTYPE html>
<!-- This page needs a lot of improvements, like styles, modal dialogues, etc. -->
<html>
  <head>
    <title>Invite - Fibretis</title>
    {{template "_html_head.html"}}
  </head>
  <body>
    {{template "_topbar.html" .aid}}
    {{template "_project_banner.html" .prj}}
    <hr>
    {{/* TOOD: Enable searching for accounts */}}
    {{/* TODO: Display a modal dialogue for confirmation */}}
    {{$prjid := .prj.ID}}
    {{range .allaccounts}}
      <a href='/invite/{{$prjid}}/{{.Account.ID}}'>{{.Account.Name}}</a>
      {{if .Invited}}<span class='am-badge am-round badge-invite'>Invited</span>{{end}}
      <br>
    {{end}}
  </body>
</html>
