<!DOCTYPE html>
<html>
  <head>
    <title>Log In - Fibretis</title>
    {{template "_html_head.html"}}
  </head>
  <body>
    {{template "_topbar.html" .aid}}
    <form id='form-with-radius' class='am-form' action='/login' method='POST'>
      <legend>Log In</legend>
      {{if .loginmsg}}
        <div id='errmsg' class='bg-danger'>{{.loginmsg}}</div>
      {{end}}
      <input type='text' class='am-form-field' id='ipt-uname' name='uname' placeholder='User name or e-mail'>
      <input type='password' class='am-form-field' id='ipt-pwd' name='pwd' placeholder='Password'>
      <button type='submit' class='am-btn am-btn-default'>Log in</button>
    </form>
  </body>
</html>
