<!DOCTYPE html>
<html>
  <head>
    <title>Fibretis</title>
    {{template "_html_head.html"}}
  </head>
  <body>
    {{template "_topbar.html" .topbarData}}
    {{$allsights := .allsights}}
    {{with .post}}
    {{template "_project_banner.html" (project .ProjectID)}}
    <hr>
    <a class='am-btn' href='/project/{{(project .ProjectID).ID}}'>Back</a>
    <a class='am-btn am-btn-default' href='/post_edit/{{.ID}}'><span class='am-icon-pencil'></span>&nbsp;Edit</a>
    {{template "_sight_dropdown.html" $allsights}}
    <br>
    <div class='post_area am-u-md-9'>
      {{$isOutsider := (outsider .ProjectID .Author)}}
      <h1>
        <a href='/post/{{.ID}}'>{{.Title}}</a>
        {{if $isOutsider}}<span class='am-badge am-radius am-text-sm'>Outsider</span>
        {{else}}{{priobadge .Priority}}
        {{end}}
      </h1>
      <p class='grey'>
        Posted by {{(account .Author).Name}} at {{timestr .CreatedAt}}
        {{if not (sametime .CreatedAt .UpdatedAt)}}
          <span class='updatetime-highlight'> · Updated at {{timestr .UpdatedAt}}</span>
        {{end}}
      </p>
      <div class='post_body'>
        {{raw .Body}}
      </div>
      <br>
      <form id='form-with-radius'>
        <legend>Leave a comment</legend>
        <textarea class='am-form-field' rows='5' id='txt-comment' name='comment' placeholder='Say something...'></textarea>
        <button class='am-btn am-btn-secondary comment-button'>Leave comment</button>
      </form>
    </div>
    <aside id='also-like' class='am-u-md-3'>
      <h2>You may also like</h2>
      {{template "alsolike_projects" .ProjectID}}
      <hr class='bold'>
      {{template "alsolike_posts" .ID}}
    </aside>
    {{end}}
    {{template "_emojify.html"}}
    <script type='application/javascript' src='/leaves/sight-dropdown.js'></script>
    <script>init_sight_dropdown(sight_target.POST, {{.post.ID}}); disp_sel_sight_item({{.cursight}});</script>
  </body>
</html>
