<!DOCTYPE html>
<html>
  <head>
    <title>
      {{if eq .pstid -1}}Write Post - Fibretis
      {{else}}Edit Post - Fibretis{{end}}
    </title>
    {{template "_html_head.html"}}
    <script type='application/javascript' src='/leaves/meduim-editor/medium-editor.min.js'></script>
    <link rel='stylesheet' type='text/css' href='/leaves/meduim-editor/medium-editor.min.css'>
    <link rel='stylesheet' type='text/css' href='/leaves/meduim-editor/theme-bootstrap.min.css'>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  </head>
  <body>
    <script type='application/javascript' src='/leaves/checkform.js'></script>
    {{template "_topbar.html" .topbarData}}
    {{template "_project_banner.html" (project .prjid)}}
    <br>
    <form id='form-with-radius' class='am-form' method='POST'>
      <legend>Write A New Post</legend>
      {{if .crpstmsg}}
        <div id='errmsg' class='bg-danger'>{{.crpstmsg}}</div>
      {{end}}
      {{$prjid := .prjid}}
      {{$topbarData := .topbarData}}
      {{with (post .pstid)}}
        <input type='text' class='am-form-field' id='ipt-title' name='title' placeholder='Post title' value='{{.Title}}'>
        {{if outsider $prjid $topbarData.Account.ID}}
          <input type='text' disabled='disabled' class='am-form-field' value='Outsider post'>
        {{else}}
          <input type='number' class='am-form-field' id='ipt-prio' name='prio' placeholder='Priority' min='0' max='23332' value='{{.Priority}}'>
        {{end}}
        <div class='am-form-field' id='txt-body' data-placeholder='Write something to tell them...'>{{raw .Body}}</div>
      {{end}}
      <input type='hidden' id='ipt-body' name='body'>
      <button type='submit' class='am-btn am-btn-default' onclick='completeform_post();'>Post</button>
    </form>

    <script type='application/javascript'>
      var editor = new MediumEditor('#txt-body', {
        // buttons: ['bold', 'italic', 'quote'],
        buttonLabels: 'fontawesome'
      });
    </script>
  </body>
</html>
