<!DOCTYPE html>
<html>
  <head>
    <title>Edit Profile - Fibretis</title>
    {{template "_html_head.html"}}
  </head>
  <body>
    {{template "_topbar.html" .aid}}
    <script type='application/javascript' src='/leaves/checkform.js'></script>
    <form id='form-with-radius' class='am-form' method='POST'>
      <legend>Edit {{(account .aid).Name}}'s Profile</legend>
      {{if .msg}}
        <div id='errmsg' class='{{if .iserr}}bg-danger{{else}}bg-success{{end}}'>{{.msg}}</div>
      {{end}}
      <label for='ipt-uname'>User name</label>
      <input type='text' class='am-form-field' id='ipt-uname' name='uname' value='{{(account .aid).Name}}'>
      <label for='ipt-email'>E-mail</label>
      <input type='email' class='am-form-field' id='ipt-email' name='email' value='{{(account .aid).Email}}'>
      <label for='ipt-pwd'>Password</label><br>
      <div id='chgpwd'>
        ****** <button type='button' class='am-btn am-btn-secondary' onclick='chgpwd_profedit()'>Change</button><br>
      </div>
      <button type='submit' class='am-btn am-btn-success'>Submit changes</button>
    </form>
  </body>
</html>
