<!DOCTYPE html>
<html>
  <head>
    <title>{{.prj.Title}} - Fibretis</title>
    {{template "_html_head.html"}}
  </head>
  <body>
    {{template "_topbar.html" .topbarData}}
    {{template "_project_banner.html" .prj}}
    <hr>
    <a class='am-btn am-btn-warning' href='/project_edit/{{.prj.ID}}'><span class='am-icon-pencil'></span>&nbsp;Edit info</a>
    <a class='am-btn am-btn-success' href='/post_create/{{.prj.ID}}'><span class='am-icon-paint-brush'></span>&nbsp;New post</a>
    {{template "_sight_dropdown.html" .allsights}}
    <section id='project-maincontent' class='am-g'>
      <div class='postlist_area am-u-md-9'>
      {{$prj := .prj}}
      {{range .pstpage}}
        {{$isOutsider := (outsider $prj.ID .Author)}}
        <div class='post-summary' style='background-color: {{if $isOutsider}}{{member_postcolour $prj 0}}{{else}}{{member_postcolour $prj .Author}}{{end}}'>
          <h1>
            <a href='/post/{{.ID}}'>{{.Title}}</a>
            {{if $isOutsider}}<span class='am-badge am-radius am-text-sm'>Outsider</span>
            {{else}}{{priobadge .Priority}}
            {{end}}
          </h1>
          <p class='grey'>
            Posted by {{accountName .Author}} at {{timestr .CreatedAt}}
            {{if not (sametime .CreatedAt .UpdatedAt)}}
              <span class='updatetime-highlight'> · Updated at {{timestr .UpdatedAt}}</span>
            {{end}}
          </p>
          <p>{{nutshell .Body}}</p>
        </div>
        <hr class='no-margin'>
      {{end}}
      </div>
      <aside id='also-like' class='am-u-md-3'>
        <h2>You may also like</h2>
        {{template "alsolike_projects" .prj.ID}}
      </aside>
    </section>
    {{template "_emojify.html"}}
    <script type='application/javascript' src='/leaves/sight-dropdown.js'></script>
    <script>init_sight_dropdown(sight_target.PROJECT, {{.prj.ID}}); disp_sel_sight_item({{.cursight}});</script>
  </body>
</html>
