<!DOCTYPE html>
<html>
  <head>
    <title>Fibretis</title>
    {{template "_html_head.html"}}
  </head>
  <body>
    {{template "_topbar.html" .aid}}
    {{template "_project_banner.html" .prj}}
    <hr>
    <a class='am-btn am-btn-warning' href='/project_edit/{{.prj.ID}}'><span class='am-icon-pencil'></span>&nbsp;Edit info</a>
    <a class='am-btn am-btn-success' href='/post_create/{{.prj.ID}}'><span class='am-icon-paint-brush'></span>&nbsp;New post</a>
    <div class='am-dropdown' data-am-dropdown>
      <button id='sight-btn' class='am-btn am-btn-default am-dropdown-toggle' data-am-dropdown-toggle><span class='am-icon-star-o'></span>&nbsp;Glance&nbsp;<span class='am-icon-caret-down'></span></button>
      <ul class='am-dropdown-content'>
        <li><a class='cursor-pointer' id='sight-sel-0'><span class='am-icon-star-o'></span>&nbsp;Glance&nbsp;<span class='am-badge'>{{index .allsights 0}}</span></a></li>
        <li><a class='cursor-pointer' id='sight-sel-1'><span class='am-icon-star-half-o'></span>&nbsp;Watch&nbsp;<span class='am-badge'>{{index .allsights 1}}</span></a></li>
        <li><a class='cursor-pointer' id='sight-sel-2'><span class='am-icon-star'></span>&nbsp;Stare&nbsp;<span class='am-badge'>{{index .allsights 2}}</span></a></li>
      </ul>
    </div>
    <section id='project-maincontent' class='am-g'>
      <div class='postlist_area am-u-md-9'>
      {{range .pstpage}}
        <h1><a href='/post/{{.ID}}'>{{.Title}}</a> {{priobadge .Priority}}</h1>
        <p class='grey'>
          Posted by {{(account .Author).Name}} at {{timestr .CreatedAt}}
          {{if not (sametime .CreatedAt .UpdatedAt)}}
            <span class='updatetime-highlight'> · Updated at {{timestr .UpdatedAt}}</span>
          {{end}}
        </p>
        <p>{{nutshell .Body}}</p>
        <hr>
      {{end}}
      </div>
      <aside id='also-like' class='am-u-md-3'>
        <h2>You may also like</h2>
        {{range .alsolike_prjs}}
        {{(project .).Title}}<hr>
        {{end}}
      </aside>
    </section>
    {{template "_emojify.html"}}
    <script type='application/javascript' src='/leaves/sight-dropdown.js'></script>
    <script>init_sight_dropdown({{.prj.ID}}); disp_sel_sight_item({{.cursight}});</script>
  </body>
</html>
