<!DOCTYPE html>
<html>
  <head>
    <title>Create Project - Fibretis</title>
    {{template "_html_head.html"}}
  </head>
  <body>
    {{template "_topbar.html" .aid}}
    <script type='application/javascript' src='/leaves/jscolor/jscolor.js'></script>
    <form class='am-form' method='POST' enctype='multipart/form-data'>
      <legend>Create / Edit Project</legend>
      {{if .crprjmsg}}
        <div id='errmsg' class='bg-danger'>{{.crprjmsg}}</div>
      {{end}}
      <input type='text' class='am-form-field' id='ipt-title' name='title' placeholder='Project title' value='{{.prj.Title}}'>
      <textarea class='am-form-field' rows='5' id='txt-desc' name='desc' placeholder='A brief description for the project...'>{{.prj.Desc}}</textarea>
      <label for='f-bannerimg'>Banner image</label>
      <input type='file' accept='image/*' id='f-bannerimg' name='bannerimg'>
      <label for='sel-bannertype'>Banner type</label>
      <select id='sel-bannertype' name='bannertype'>
        {{autoselitem .prj.BannerType 0 "Repeated"}}
        {{autoselitem .prj.BannerType 1 "Cover"}}
        {{autoselitem .prj.BannerType 2 "Invalid"}}
      </select>
      <label for='sel-state'>Project state</label>
      <button type='button' class='am-btn am-btn-link' data-am-popover='{content: "<b>Explanation for project states</b><br><i>Purposed</i> &nbsp;The idea is found but whether to start is under consideration.<br><i>Seeded</i> &nbsp;The project was just started, but not much progress has been made.<br><i>Rooting</i> &nbsp;Some progress is made, (for computer projects) most basic features are implemented.<br><i>Sprouts</i> &nbsp;Embryonic form, (for computer projects) alpha version released.<br>TODO: Complete this"}'><span class='am-icon-question-circle' /></button>
      <select id='sel-state' name='state'>
        {{autoselitem .prj.State 1 "Purposed"}}
        {{autoselitem .prj.State 2 "Seeded"}}
        {{autoselitem .prj.State 3 "Rooting"}}
        {{autoselitem .prj.State 4 "Sprouts"}}
        {{autoselitem .prj.State 5 "Lawn"}}
        {{autoselitem .prj.State 6 "Wood"}}
        {{autoselitem .prj.State 7 "Jungle"}}
        {{autoselitem .prj.State 8 "Forest"}}
      </select>
      <label for='c-titlecolour'>Title text colour</label>
      <input class='am-form-field color {hash: true}' type='text' id='c-titlecolour' name='titlecolour' value='{{if eq .prj.TitleColour ""}}#000000{{else}}{{.prj.TitleColour}}{{end}}'>
      <button type='submit' class='am-btn am-btn-default'>Create project</button>
    </form>
    {{if ne .prj.ID -1}}
    <hr>
    <h2>Members</h2>
    <div class='members-list'>
      {{/* TODO: Make this list look better */}}
      {{range .members}}{{with (account .)}}
        {{.Name}}<br>
      {{end}}{{end}}
    </div>
    <a href='/invite/{{.prj.ID}}' class='am-btn am-btn-secondary'>Invite someone to join</a>
    {{end}}
    <br><br>
  </body>
</html>
