/* Amaze UI improvements */
.am-btn,
.am-form-field {
  border-radius: 8px !important;
}

.am-form {
  padding: 16px;
}

.am-form input, .am-form textarea, .am-form div {
  margin: 4px 4px 4px 4px;
}

.am-form button {
  margin: 4px auto 4px 4px;
}

.am-form div h3, .post_body h3 {
  font-size: 32px;
}

.am-form div h4, .post_body h4 {
  font-size: 24px;
}

.am-topbar {
  margin-bottom: unset;
}

.am-topbar a.am-btn-primary,
.am-topbar a.am-btn-secondary,
.am-topbar a.am-btn-success,
.am-topbar a.am-btn-warning,
.am-topbar a.am-btn-danger {
  color: #fff;
}

/* Main part */
.simple-padding {
  padding: 4px 4px 4px 4px;
}

.big-title {
  margin: 0.4em auto 0.4em 24px;
  font-size: 48px;
  font-weight: bold;
}

.small-title {
  margin: 0.4em auto 0.4em 0px;
  font-size: 32px;
  font-weight: normal;
}

.project-summary {
  padding: 32px;
}

.project-summary .bg {
  opacity: 0.7;
  position: absolute;
  left: 0px;
  z-index: -1;
}

.post-summary {
  padding: 16px;
}

.post-summary h1 {
  margin: 0 0 1.6rem;
}

.no-margin {
  margin: 0px;
}

.members-list {
  padding: 16px;
}

.notification {
  padding: 16px;
}

.notification-text {
  font-size: 1.5em;
}

/* Derived from Bootstrap 3 */
.bg-danger {
  margin: 12px;
  padding: 0.5em;
  background-color: #ffe1e1;
  border: solid #ac5f5f 1px;
  border-radius: 3px;
}

.bg-success {
  margin: 12px;
  padding: 0.5em;
  background-color: #e1ffe3;
  border: solid #6bac5f 1px;
  border-radius: 3px;
}

.grey {
  color: #888;
}

.badge-invite {
  background-color: #e0f;
}

hr.bold {
  border: 2px solid;
  border-radius: 2px;
}

.cursor-pointer {
  cursor: pointer;
}

.updatetime-highlight {
  color: #897210;
}

.banner {
  padding: 0.8em 0px 0.8em 24px;
  font-size: 18px;
}

.bi-pattern {
  /* Background image fallback is lined_paper.png */
  background: url(/leaves/lined_paper.png) repeat scroll center center #F0F0F0;
}

.bi-cover {
  /* Background image fallback is pure colour */
  background: none no-repeat scroll center center / cover #F0F0F0;
}

.banner .big-title {
  margin-left: 0px;
}

.small-shadow, .banner.project-banner .desc {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.big-shadow, .banner.project-banner .big-title {
  text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.3);
}

.post_area, .postlist_area {
  padding: 1em;
}

.post_area h1 {
  padding-top: 1em;
  font-size: 32px;
}

.post_body {
  padding: 12px;
}

.emoji {
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
}
